<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sudal.springtest.ajax.repository.FavoritRepository">
    <insert id="insertFavorit" parameterType="map">
        INSERT INTO `favorite`
            (`name`
            ,`url`)
        VALUES
            (#{name}
            ,#{url})
    </insert>

    <select id="selectFavorit"
            resultType="com.sudal.springtest.ajax.domain.Favorit">
        SELECT
            `id`
            ,`name`
            ,`url`
            ,`created_at`
            ,`updated_at`
        FROM
          `favorite`
    </select>

    <select id="duplicateUrl" parameterType="String"
            resultType="int">
        SELECT
            COUNT(*)
        FROM
            `favorite`
        WHERE
            `url` = #{url}

    </select>

    <delete id="deleteFavorite" parameterType="int">
        DELETE FROM
            `favorite`
        WHERE
            `id` = #{id}
    </delete>
</mapper>