<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sudal.springtest.ajax.repository.PensionRepository">

    <select id="selectPention"
            resultType="com.sudal.springtest.ajax.domain.Pension">
        SELECT
            `id`
        ,`name`
        ,`headcount`
        ,`day`
        ,`date`
        ,`phone_number`
        ,`state`
        ,`created_at`
        ,`updated_at`
        FROM
            `booking`
    </select>

    <insert id="addReservation" parameterType="map">
        INSERT INTO `booking`
            (
            `name`
            ,`headcount`
            ,`day`
            ,`date`
            ,`phone_number`
            ,`state`
            )
        VALUE
            (
            #{name}
            ,#{dateTime}
            ,#{day}
            ,#{headCount}
            ,#{phoneNumber}
            )

    </insert>
</mapper>