<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudal.springtest.database.repositrory.StoresRepository">
    <select id="selectStoresList"
            resultType="com.sudal.springtest.database.domain.Stores">
        SELECT
            `id`
             ,`address`
             ,`name`
             ,`phone_number`
             ,`business_number`
             ,`introduce`
             ,`created_at`
             ,`updated_at`
        FROM `store`;

    </select>
</mapper>