<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>날씨 기록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/thymeleaf/totalTest/style.css">
</head>
<body>
    <div id="wrap">
        <section class="contents d-flex">
            <nav class="main-menu">
                <div class="d-flex justify-content-center mt-3">
                    <img width="25" src="http://marondal.com/material/images/dulumary/web/jstl/weather-logo.png">
                    <div class="text-white font-weight-bord ml-1">기상청</div>
                </div>
                <ul class="nav flex-column font-weight-bold mt-4">
                    <li class="nav-item"><a class="nav-link text-white" href="#">날씨</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">날씨 입력</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">테마 날씨</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">관측 기후</a></li>
                </ul>
            </nav>
            <article class="main-contents p-4">
                <h2>날씨 입력</h2>

                <form method="get" action="/totalTest/weather/add">
                <div class="d-flex mt-5">
                    <div>
                        <lable class="input-label">날짜</lable>
                        <input type="text" class="form-control" name="date">
                    </div>
                    <div>
                        <lable class="input-label">날씨</lable>
                        <select class="form-control" name="weather">
                            <option>맑음</option>
                            <option>구름조금</option>
                            <option>흐림</option>
                            <option>비</option>
                        </select>
                    </div>

                    <div>
                        <lable class="input-label">미세먼지</lable>
                        <select class="form-control" name="microDust">
                            <option>좋음</option>
                            <option>보통</option>
                            <option>나쁨</option>
                            <option>최악</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="d-flex">
                        <label class="input-label">기온</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="temperatures">
                            <div class="input-group-append">
                                <span class="input-group-text">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <label class="input-label">강수량</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="precipitation">
                            <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <label class="input-label">풍속</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="windSpeed">
                            <div class="input-group-append">
                                <span class="input-group-text">km/h</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">저장</button>
                </div>
                </form>
            </article>
        </section>
        <footer class="d-flex">
            <img width="120" class="mt-3 ml-4" src="http://marondal.com/material/images/dulumary/web/jstl/weather-footer.png">
            <div class="mt-3 ml-5 small text-secondary">
                (07062) 서울시 동작구 여의대방로16길 61  <br>
                Copyright@2024 KMA. All Rights RESERVED.
            </div>
        </footer>
    </div>

</body>
</html>