<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/thymeleaf/totalTest/style.css">
</head>
<body>
    <div class="container">
        <h1>즐겨 찾기 목록</h1>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>이름</th>
                    <th>주소</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="favorit, status:${favoritList}">
                    <!-- <td th:text="${status.count}">1</td> -->
                    <td th:text="${favorit.id}">1</td>
                    <td th:text="${favorit.name}">네이버</td>
                    <td th:text="${favorit.url}">http://naver.com</td>
                    <td><button th:value="${favorit.id}" class="remove-Btn btn btn-danger dtn-sm">삭제</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(".remove-Btn").on("click", function(){

            // 삭제 대상 id 값 얻어오기
            let id = $(this).val();

            $.ajax({
                type : "get"
                , url : "/ajax/favorit/remove"
                ,data:{"id":id}
                ,success:function(response){
                    // 성공 {"result":"success"}
                    // 실패 {"result":"fail"}
                    if(response.result == "success"){
                        location.reload() // 새로고침기능
                    } else{
                        alert("삭제 실패")
                    }
                }
                ,error:function(){
                    alert("삭제 에러")
                }
            });

        });
    </script>

</body>
</html>