<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/thymeleaf/totalTest/style.css">
</head>
<body>
    <div class="container">
        <h1>즐겨 찾기 목록</h1>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>이름</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="favorit, status:${favoritList}">
                    <td th:text="${status.count}">dlfma</td>
                    <td th:text="${favorit.name}">ㅇ;름</td>
                    <td th:text="${favorit.url}">주소</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>