#wrap{
    width:1200px;
    margin:0 auto;
}

.header{
}

.logo{
    height: 50px;
}


.table{
    height:800px;
}

.contents > .main-menu {
    width:200px;
    background-color:cornflowerblue;
}

.contents > .main-contents {
    width:1000px;
}

.input-label {
    width:120px;
    text-align:right;
    margin-right:10px;
}