<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>노래 순위</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h1>HOT 5</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>순위</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="musicRanking, status:${musicRanking}">
                    <td th:text="${status.count}">순위</td>
                    <td th:text="${musicRanking}">ㅇㅇㅇㅇ</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>