<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test04</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

    <div class="contain">

        <h1>회원 정보 리스트</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>이름</th>
                    <th>생년월일</th>
                    <th>전화번호</th>
                    <th>국적</th>
                    <th>이메일</th>
                    <th>자기소개</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No</td>
                    <td>이름</td>
                    <td>생년월일</td>
                    <td>전화번호</td>
                    <td>국적</td>
                    <td>이메일</td>
                    <td>자기소개</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>